In [ ]:
!pip install mysql-connector-python

In [ ]:
from mysql import connector
connection = connector.connect(
    host = "localhost",
    user="root",
    password = "Umaravidaryam@2810" ,
    database="Dataspark"
)

connection
cursor = connection.cursor()
cursor

In [ ]:
cursor = connection.cursor()
cursor

In [ ]:
query="show tables"
cursor.execute(query)
for tb in cursor:
    print(tb)

In [ ]:
query="select * from customer_details "
cursor.execute(query)
for i in cursor:
    print(i)

In [ ]:
query="select * from exchange_rates_details "
cursor.execute(query)
for i in cursor:
    print(i)

In [ ]:
query="select * from products_details "
cursor.execute(query)
for i in cursor:
    print(i)

In [ ]:
query="select * from sales "
cursor.execute(query)
for i in cursor:
    print(i)

In [ ]:
query="select * from stores_details "
cursor.execute(query)
for i in cursor:
    print(i)

In [4]:
from mysql import connector
connection = connector.connect(
    host = "localhost",
    user="root",
    password = "Umaravidaryam@2810" ,
    database="Dataspark"
)

connection
cursor = connection.cursor()
cursor

In [23]:
query="show tables"
cursor.execute(query)
for i in cursor:
    print(i)

('customer_details',)
('exchange_rates_details',)
('products_details',)
('sales',)
('stores_details',)

In [35]:
query='describe stores_details'
cursor.execute(query)
for i in cursor:
    print(i)

('StoreKey', 'int', 'YES', '', None, '')
('Country', 'varchar(255)', 'YES', '', None, '')
('State', 'varchar(255)', 'YES', '', None, '')
('Square_Meters', 'float', 'YES', '', None, '')
('Open_Date', 'varchar(255)', 'YES', '', None, '')

In [36]:
query='describe sales'
cursor.execute(query)
for i in cursor:
    print(i)

('Order_Number', 'int', 'YES', '', None, '')
('Line_Item', 'int', 'YES', '', None, '')
('Order_Date', 'varchar(255)', 'YES', '', None, '')
('Delivery_Date', 'varchar(255)', 'YES', '', None, '')
('CustomerKey', 'int', 'YES', '', None, '')
('StoreKey', 'int', 'YES', '', None, '')
('ProductKey', 'int', 'YES', '', None, '')
('Quantity', 'int', 'YES', '', None, '')
('Currency_Code', 'varchar(255)', 'YES', '', None, '')

In [37]:

query='describe products_details'
cursor.execute(query)
for i in cursor:
    print(i)

('ProductKey', 'int', 'YES', '', None, '')
('Product_Name', 'varchar(255)', 'YES', '', None, '')
('Brand', 'varchar(255)', 'YES', '', None, '')
('Color', 'varchar(255)', 'YES', '', None, '')
('Unit_Cost_USD', 'float', 'YES', '', None, '')
('Unit_Price_USD', 'float', 'YES', '', None, '')
('SubcategoryKey', 'varchar(255)', 'YES', '', None, '')
('CategoryKey', 'varchar(255)', 'YES', '', None, '')
('Category', 'varchar(255)', 'YES', '', None, '')

# QUERIES

In [5]:
#Overall female count
query='''SELECT COUNT(Gender) AS Female_count 
FROM customer_details 
WHERE Gender = "Female"'''
cursor.execute(query)
for i in cursor:
    print(i)

(7518,)

In [6]:
#Overall male count
query='''SELECT COUNT(Gender) AS Female_count 
FROM customer_details 
WHERE Gender = "Male"'''
cursor.execute(query)
for i in cursor:
    print(i)

(7748,)

In [ ]:
# Count of customers By Country
query = "select count(CustomerKey),Country from customer_details group by Country"
cursor.execute(query)
for i in cursor:
    print(col)

In [ ]:
# Count of stores by country
query= "select count(StoreKey),Country from stores_details group by Country"
cursor.execute(query)
for i in cursor:
    print(i)

In [ ]:
# Store-wise sales
query=""" SELECT sales.StoreKey, stores_details.Country, SUM(products_details.Unit_Price_USD * sales.Quantity) as TotalSales
FROM products_details 
JOIN sales ON products_details.ProductKey = sales.ProductKey 
JOIN stores_details  ON sales.StoreKey = stores_details.StoreKey 
GROUP BY sales.StoreKey, stores_details.Country"""
cursor.execute(query)
for i in cursor:
    print(i)

In [ ]:
# profit and profit%
query="select Unit_Price_USD, Unit_Cost_USD,round((Unit_Price_USD-Unit_Cost_USD),2) as Profit,round(((Unit_Price_USD-Unit_Cost_USD)/Unit_Cost_USD)*100,2) as ProfitPercent from products_details"
cursor.execute(query)
for i in cursor:
    print(i)

In [40]:
# Country overall sales
query="""select stores_details.Country, round(sum(products_details.Unit_Price_USD*sales.Quantity)) as Total_sales from sales
join stores_details on sales.StoreKey=stores_details.StoreKey
join products_details on sales.ProductKey=products_details.ProductKey
group by stores_details.Country
"""
cursor.execute(query)
for i in cursor:
    print(i)

('Australia', 23090552.0)
('United Kingdom', 63247468.0)
('United States', 261408684.0)
('Germany', 46709071.0)
('Online', 125447571.0)
('Netherlands', 17504789.0)
('Italy', 22649955.0)
('Canada', 39727180.0)
('France', 13525005.0)

In [47]:
#Year-wise sales
query='''SELECT YEAR(sales.Order_Date) as year, SUM(products_details.Unit_price_USD * sales.Quantity) AS TotalSales 
FROM sales 
JOIN  products_details ON sales.ProductKey = products_details.ProductKey 
GROUP BY YEAR(sales.Order_Date)'''
cursor.execute(query)
for i in cursor:
    print(i)

(2016, 6946793.544998169)
(2017, 7421422.260695338)
(2018, 12788960.648185968)
(2019, 18264382.46236074)
(2020, 9294632.129472375)
(2021, 1039288.4792466164)

In [41]:
#Year-wise profit
query="""SELECT YEAR(Order_Date) AS Year,
       (SUM(products_details.Unit_Price_USD * sales.Quantity) - SUM(products_details.Unit_Cost_USD * sales.Quantity)) AS sales, 
       LAG(SUM(products_details.Unit_Price_USD * sales.Quantity) - SUM(products_details.Unit_Cost_USD * sales.Quantity)) 
       OVER (ORDER BY YEAR(Order_Date)) AS Previous_year_Sales,
       ROUND(((SUM(products_details.Unit_Price_USD * sales.Quantity) - SUM(products_details.Unit_Cost_USD * sales.Quantity)) -
       LAG(SUM(products_details.Unit_Price_USD * sales.Quantity) - SUM(products_details.Unit_Cost_USD * sales.Quantity)) 
       OVER (ORDER BY YEAR(Order_Date))) / LAG(SUM(products_details.Unit_Price_USD * sales.Quantity) - SUM(products_details.Unit_Cost_USD * sales.Quantity)) 
       OVER (ORDER BY YEAR(Order_Date)) * 100, 2) AS profit_percent
       FROM sales  
       JOIN products_details  ON sales.ProductKey = products_details.ProductKey 
       GROUP BY YEAR(Order_Date)"""
cursor.execute(query)
for i in cursor:
    print(i)

(2016, 4107000.4580153227, None, None)
(2017, 4337064.057139695, 4107000.4580153227, 5.6)
(2018, 7464961.107233167, 4337064.057139695, 72.12)
(2019, 10697738.897461832, 7464961.107233167, 43.31)
(2020, 5447460.147482812, 10697738.897461832, -49.08)
(2021, 608463.6901602745, 5447460.147482812, -88.83)